WCF/Chinook.UI.Windows/Chinook.UI.Windows/Connected Services/MantenimientoServices/MantenimientosServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MantenimientosServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63129/MantenimientosServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63129/MantenimientosServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63129/MantenimientosServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Chinook.Services.wcf" />
      <xsd:import schemaLocation="http://localhost:63129/MantenimientosServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Chinook.Entities.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMantenimientosServices_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMantenimientosServices_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMantenimientosServices_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IMantenimientosServices_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IMantenimientosServices_GetArtistByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistByName" />
  </wsdl:message>
  <wsdl:message name="IMantenimientosServices_GetArtistByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IMantenimientosServices">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientosServices/GetData" message="tns:IMantenimientosServices_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientosServices/GetDataResponse" message="tns:IMantenimientosServices_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientosServices/GetDataUsingDataContract" message="tns:IMantenimientosServices_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientosServices/GetDataUsingDataContractResponse" message="tns:IMantenimientosServices_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtistByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientosServices/GetArtistByName" message="tns:IMantenimientosServices_GetArtistByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientosServices/GetArtistByNameResponse" message="tns:IMantenimientosServices_GetArtistByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMantenimientosServices" type="tns:IMantenimientosServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMantenimientosServices/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IMantenimientosServices/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtistByName">
      <soap:operation soapAction="http://tempuri.org/IMantenimientosServices/GetArtistByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MantenimientosServices">
    <wsdl:port name="BasicHttpBinding_IMantenimientosServices" binding="tns:BasicHttpBinding_IMantenimientosServices">
      <soap:address location="http://localhost:63129/MantenimientosServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>